<div class="row">
   <div class="col-xm-12 col-sm-12 col-md-4 col-lg-4">
     <div class="flex-login">
     <h2>Log In</h2>
     <form class="flex-log-in-form"
     (submit)='loginUser($event)'
     >

     <input
     type="text"
     placeholder="Email"
     id="email">

     <input
     type="password"
     placeholder="Password"
     id="password">

     <input
     type="submit"
     value="Log In"
     class = 'btn btn-primary btn-lg '
     />
     </form>


     <div class="flex-restore">

    <input
     class = 'btn btn-primary btn-lg '
     type='button'
     value = 'Lost your password?'
     (click)='restorePassword()'>

     <form *ngIf='restoringStart'
     (submit)=sendRestoringEmail($event)
     class='flex-restre-form'>
        <input
        type='text'
        placeholder="Enter your email"
        id='emailForRestore'>
        <input
        class = 'btn btn-primary btn-lg '
        type='submit'
        value='Send password to Email'>
      </form>

     </div>

   </div>
   </div>


   <div class="col-xm-12 col-sm-12 col-md-8 col-lg-8">
     <p>Start deal with:</p>
     <a
     id="registerLink"
     class = 'btn btn-primary btn-lg '
     routerLink='/register'>Register</a>

     <div class="reg-error">
      <div class="error-list-flex ">

        <h3 *ngIf='errorsValidation.length>0' class="badge badge-danger">Bad news:</h3>
        <div
        class="alert alert-danger"
        *ngFor='let err of errorsValidation'
        >
        <li>{{err.error}}</li>
      </div>
      </div>




     </div>


   </div>
 </div>
