
<p>You have to enter PIN from letter that was send to your Email</p>

<form (submit)='checkPin($event)'
class="flex-form">

<input
size="4"
maxlength="4"
placeholder ='PIN'
type='text'
id = 'pin'
/>

<input
type='submit'
value = 'Check my PIN'
class="class = 'btn btn-primary btn-lg"
/>

</form>

<p id="errorPin" *ngIf='errorsValidation.length > 0'
  class="badge badge-danger"> It look's like we have got some errors</p>
  
<div
class="alert alert-danger"
*ngFor='let err of errorsValidation'><li>{{err.error}}</li></div>
