.flex-form {

    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

}

.flex-form > input {
  margin: 15px 0 15px 0;
}

#errorPin {
  text-align: center;
  width: 100%
}
