#newQuote {
  margin: 10px 0px 10px 0px;
  /*width: 70%*/
}

#mottoUpd{
 margin: 10px 10px 10px 10px
}

button {
    margin: 10px 5px 10px 5px
}


h4 {
  margin: 10px 0px 10px 0px
}

#downP {
margin-top: 25px

}
