
<h3>User Profile</h3>
<p>Welcome, {{messageEmail}}! Good luck in the game!</p>
<hr>
<p> User: {{messageEmail}}</p>
<p> User's motto: {{messageQuote}}</p>
<p> User's TOPSCORE: {{topscore}}</p>
<p> User's all time lines: {{totalLines}}</p>
<p> User's total time spend in the game: {{totalTime}}</p>
<hr>


<form (submit)='saveNewQuote($event)'>
     <input
       type="text"
       id="newQuote"
       name="newQuote">

<input type='submit' value='Get new motto'/>


<br>
{{updateMessage}}
</form>
<a
 class = 'btn btn-primary btn-lg '
 routerLink='/dashboard'>To the game</a>
<hr>
<button (click)='logOut()'> LogOut</button>
