@import '~bootstrap/dist/css/bootstrap.min.css';
.flex-container {
    height:80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: space-between;
    align-items: center;

}

.flex-container > a {
  width:150px;
  margin: 10px;
  padding: 10px;
  text-align: center;

}
